<div>
    <label for="aspect-{{id}}">{{label}}</label>
    <input id="aspect-{{id}}" type="text" placeholder="{{placeholder}}" onfocus="onAspectFocus('{{id}}')" />
    <div id="aspect-{{id}}-hidden" style="display: none">
        <textarea id="aspect-{{id}}-additional" placeholder="Additional info, if necessary..."></textarea>
        <p class="fot-text">
        {{description}}
        </p>
    </div>
</div>
