<div class="skill-selector">
    <a href="{{link}}" target="_blank">
        <label for="skill-{{id}}">{{id}}</label>
    </a>
    <input id="skill-{{id}}" type="hidden" value="Mediocre (+0)" />
    <button id="skill-{{id}}-0" onclick="onSkillSelect('{{id}}', 0)" class="mod-primary">Mediocre (+0)</button>
    <button id="skill-{{id}}-1" onclick="onSkillSelect('{{id}}', 1)">Average (+1)</button>
    <button id="skill-{{id}}-2" onclick="onSkillSelect('{{id}}', 2)">Fair (+2)</button>
    <button id="skill-{{id}}-3" onclick="onSkillSelect('{{id}}', 3)">Good (+3)</button>
    <button id="skill-{{id}}-4" onclick="onSkillSelect('{{id}}', 4)">Great (+4)</button>
</div>
