<div class="fot-text-input">
    <label for="{{id}}">{{label}}</label>
    <input id="{{id}}" type="text" placeholder="{{placeholder}}" onfocus="onTextboxFocus('{{id}}')" />
    <div id="{{id}}-hidden" style="display: none">
        <textarea id="{{id}}-additional" placeholder="Additional info, if necessary..."></textarea>
        <p>
        {{description}}
        </p>
    </div>
</div>
