<div class="fot-text-input">
    <label for="{{id}}">{{label}}</label>
    <input id="{{id}}" type="text" placeholder="{{placeholder}}" onfocus="onTextboxFocus('{{id}}')" onfocusout="onTextboxLeave('{{id}}')" />
    <div id="{{id}}-description" style="display: none">
        <p>
        {{description}}
        </p>
    </div>
</div>
